@media #{$below-mid-point} {
	.nav-open {

		nav {
			border: 0;
			z-index: 2;

			a {
				display: block;
			}
		}
	}
}

header {
	color: #fff;
	padding: 20px 0 0 0;
	background: linear-gradient(135deg, $brand-color 0%, $brand-color-2 100%);
	position: relative;
	background-image: url("https://cdn.pixabay.com/photo/2017/09/01/21/53/blue-2705642_960_720.jpg");
	p {
		margin: 0;
	}


	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}
}

nav {
	width: 100%;
	padding: 20px 0 0 0;

	@media #{$mid-point} {
		display: inline-block;
		vertical-align: top;
		width: auto;
		padding: 0 0 0 40px;
	}

	a {
		margin: 0 3px;
		padding: 20px 10px;
		border-bottom: 1px solid rgba(255,255,255,0);
		color: rgba(255,255,255,.6);
		transition: 200ms ease-in color;
		display: none;

		@media #{$mid-point} {
			display: inline-block;
			padding: 10px;
		}


		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 0;
			top: -22px;
			font-size: 1.9em;
			border: 0;
			z-index: 2;
			padding: 20px;

			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a:hover {
		color: #fff;
	}


	a.cart {
		line-height: 1;

		i {
			font-size: 22px;
			line-height: 1;
			display: inline-block;
			vertical-align: middle;
			padding: 0 6px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: 2px;

		}
	}

	@media #{$mid-point} {
		a.cart {
			border-radius: 43px;
			color: #fff;
			border: 1px solid rgba(255,255,255, .4);
			position: absolute;
			right: 20px;
			top: -2px;
			font-size: .8em;
			transition: border .3s ease;


			&:hover {
				border-color: #fff;
			}
		}
	}

	a.active {
		color: #fff;
	}

}
